<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JXKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>840D736A1CFC3DDA00C6DF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840D73831CFC3DDA00C6DF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>840D738E1CFC3DDA00C6DF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
